:root{
  --color-scissors-1: #ec9e0e;
  --color-scissors-2: #eca922;
  --color-paper-1: #4865f4;
  --color-paper-2: #5671f5;
  --color-rock-1: #dc2e4e;
  --color-rock-2: #dd405d;
  --color-dark-text: #3b4363;
  --color-score-text: #2a46c0;
  --color-header-outline: #606e85;
  --color-background-one: #1f3756;
  --color-background-two: #141539;
}

*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
}

body{
  background-image: radial-gradient(var(--color-background-one), var(--color-background-two));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  color: #fff;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
}

.container{
  max-width: 90rem;
  margin: 3rem auto;
}

.score-container {
  border: 2px solid var(--color-header-outline);
  border-radius: 16px;
  width: 90%;
  margin: 0 auto;
  /* max-width: 1000px;
  margin: 0 auto; */
  display: flex;
  justify-content: space-between;
}

.title {
  padding: 2rem 3rem;
}

.score{
  background-color: #fff;
  padding: 2rem 3rem;
  margin: 1rem 2rem;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score h1{
  color: var(--color-dark-text);
  font-size: 4em;
}

.score h3{
  color: var(--color-score-text);
  text-transform: uppercase;
}

.game-container{
  /* background-color: yellow; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-gap: 20px;
  justify-items: center;
}

.weapon-selection{
  background-image: url('images/bg-triangle.svg');
  background-position: center;
  background-repeat: no-repeat;
  grid-column: 1/4;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  height: 600px;
  width: 100%;
}

.weapon-container{
  background-color: white;
  height: 150px;
  width: 150px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.paper-container{
  border: 15px solid var(--color-paper-1);
}

.paper-container-start{
  justify-self: end;
  grid-column: 1;
  transform: translateX(50%);
}

.scissors-container{
  border: 15px solid var(--color-scissors-1);
}

.scissors-container-start{
  justify-self: start;
  grid-column: 3;
  transform: translateX(-50%);
}

.rock-container{
  border: 15px solid var(--color-rock-1);
}

.rock-container-start{
  justify-self: center;
  grid-column: 2;
  grid-row: 2;
}

.play-again-btn{
  border: 2px solid white;
  border-radius: 6px;
  background-color: white;
  color: var(--color-background-one);
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 5rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.rules-container{
  display: flex;
  justify-content: flex-end;
}

.rules-button{
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  text-transform: uppercase;
  text-decoration: none;
}

.popup{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}


.popup-content{
  width: 30%;
  background-color: white;
  box-shadow: 0 2rem 4rem rgba(0,0,0, .2);
  border-radius: 5px;
  display: table;
  overflow: hidden;
  padding: 3rem 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.25);
  opacity: 0;
  transition: all .5s .2s;
}

.popup-content-body{
  text-align: center;
}

.popup-content-header{
  padding-bottom: 3rem;
}

.popup-content-header h2{
  color: var(--color-dark-text);
  font-size: 3rem;
  text-transform: uppercase;
  weight: 700;
}


.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup:target .popup-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup-close:link,
.popup-close:visited{
  color: #E1E4ED;
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 5rem;
  text-decoration: none;
  display: inline-block;
  transition: all .2s;
}

.popup-close:hover{
  color: #B7BACA;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 2rem;
}
.attribution a {
  color: var(--color-scissors-1);
}


@media only screen and (max-width: 600px) {

  .rules-container{
    justify-content: center;
  }

  .paper-container-start{
    transform: translateX(30%);
  }

  .scissors-container-start{
    transform: translateX(-30%);
  }

  .popup-content{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: none;
    text-align: center;
  }

  .popup-content-header{
    padding-bottom: 6rem;
  }
}
